Jul  2 15:40:46 ubuntu sshd[2171]: Invalid user dave from 141.117.117.243 port 1518
Jul  2 15:40:46 ubuntu sshd[2171]: Connection closed by invalid user dave 141.117.117.243 port 1518 [preauth]
Jul  2 15:40:47 ubuntu sshd[2173]: Invalid user dave from 141.117.117.243 port 45810
Jul  2 15:40:47 ubuntu sshd[2173]: Connection closed by invalid user dave 141.117.117.243 port 45810 [preauth]
Jul  2 15:40:48 ubuntu sshd[2175]: Invalid user dave from 141.117.117.243 port 6081
Jul  2 15:40:48 ubuntu sshd[2175]: Connection closed by invalid user dave 141.117.117.243 port 6081 [preauth]
Jul  2 15:40:48 ubuntu sshd[2177]: Invalid user dave from 141.117.117.243 port 11268
Jul  2 15:40:48 ubuntu sshd[2177]: Connection closed by invalid user dave 141.117.117.243 port 11268 [preauth]
Jul  2 15:40:49 ubuntu sshd[2179]: Invalid user dave from 141.117.117.243 port 6299
Jul  2 15:40:49 ubuntu sshd[2179]: Connection closed by invalid user dave 141.117.117.243 port 6299 [preauth]
Jul  2 15:40:49 ubuntu sshd[2181]: Invalid user dave from 141.117.117.243 port 39911
Jul  2 15:40:49 ubuntu sshd[2181]: Connection closed by invalid user dave 141.117.117.243 port 39911 [preauth]
Jul  2 15:40:50 ubuntu sshd[2183]: Invalid user dave from 141.117.117.243 port 24714
Jul  2 15:40:50 ubuntu sshd[2183]: Connection closed by invalid user dave 141.117.117.243 port 24714 [preauth]
Jul  2 15:40:51 ubuntu sshd[2185]: Invalid user dave from 141.117.117.243 port 8706
Jul  2 15:40:51 ubuntu sshd[2185]: Connection closed by invalid user dave 141.117.117.243 port 8706 [preauth]
Jul  2 17:00:39 ubuntu sshd[2391]: Did not receive identification string from 51.75.23.87 port 58402
Jul  2 17:01:48 ubuntu sshd[2392]: Invalid user userftp from 51.75.23.87 port 39152
Jul  2 17:01:48 ubuntu sshd[2392]: Received disconnect from 51.75.23.87 port 39152:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:01:48 ubuntu sshd[2392]: Disconnected from invalid user userftp 51.75.23.87 port 39152 [preauth]
Jul  2 17:02:44 ubuntu sshd[2394]: Invalid user ftpuser from 51.75.23.87 port 53572
Jul  2 17:02:44 ubuntu sshd[2394]: Received disconnect from 51.75.23.87 port 53572:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:02:44 ubuntu sshd[2394]: Disconnected from invalid user ftpuser 51.75.23.87 port 53572 [preauth]
Jul  2 17:03:50 ubuntu sshd[2396]: Received disconnect from 51.75.23.87 port 39774:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:03:50 ubuntu sshd[2396]: Disconnected from authenticating user root 51.75.23.87 port 39774 [preauth]
Jul  2 17:04:42 ubuntu sshd[2398]: Invalid user teamspeak3 from 51.75.23.87 port 54214
Jul  2 17:04:42 ubuntu sshd[2398]: Received disconnect from 51.75.23.87 port 54214:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:04:42 ubuntu sshd[2398]: Disconnected from invalid user teamspeak3 51.75.23.87 port 54214 [preauth]
Jul  2 17:05:46 ubuntu sshd[2401]: Invalid user es from 51.75.23.87 port 40414
Jul  2 17:05:46 ubuntu sshd[2401]: Received disconnect from 51.75.23.87 port 40414:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:05:46 ubuntu sshd[2401]: Disconnected from invalid user es 51.75.23.87 port 40414 [preauth]
Jul  2 17:06:37 ubuntu sshd[2403]: Invalid user deployer from 51.75.23.87 port 54846
Jul  2 17:06:37 ubuntu sshd[2403]: Received disconnect from 51.75.23.87 port 54846:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:06:37 ubuntu sshd[2403]: Disconnected from invalid user deployer 51.75.23.87 port 54846 [preauth]
Jul  2 17:07:38 ubuntu sshd[2405]: Invalid user postgres from 51.75.23.87 port 41050
Jul  2 17:07:38 ubuntu sshd[2405]: Received disconnect from 51.75.23.87 port 41050:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:07:38 ubuntu sshd[2405]: Disconnected from invalid user postgres 51.75.23.87 port 41050 [preauth]
Jul  2 17:08:28 ubuntu sshd[2407]: Invalid user vagrant from 51.75.23.87 port 55482
Jul  2 17:08:28 ubuntu sshd[2407]: Received disconnect from 51.75.23.87 port 55482:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:08:28 ubuntu sshd[2407]: Disconnected from invalid user vagrant 51.75.23.87 port 55482 [preauth]
Jul  2 17:09:12 ubuntu sshd[2409]: Invalid user ubuntu from 51.75.23.87 port 41680
Jul  2 17:09:12 ubuntu sshd[2409]: Received disconnect from 51.75.23.87 port 41680:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:09:12 ubuntu sshd[2409]: Disconnected from invalid user ubuntu 51.75.23.87 port 41680 [preauth]
Jul  2 17:10:08 ubuntu sshd[2412]: Invalid user ubnt from 51.75.23.87 port 56108
Jul  2 17:10:08 ubuntu sshd[2412]: Received disconnect from 51.75.23.87 port 56108:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:10:08 ubuntu sshd[2412]: Disconnected from invalid user ubnt 51.75.23.87 port 56108 [preauth]
Jul  2 17:10:56 ubuntu sshd[2415]: Invalid user oracle from 51.75.23.87 port 42310
Jul  2 17:10:56 ubuntu sshd[2415]: Received disconnect from 51.75.23.87 port 42310:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:10:56 ubuntu sshd[2415]: Disconnected from invalid user oracle 51.75.23.87 port 42310 [preauth]
Jul  2 17:12:41 ubuntu sshd[2417]: Invalid user dbseller from 51.75.23.87 port 42940
Jul  2 17:12:41 ubuntu sshd[2417]: Received disconnect from 51.75.23.87 port 42940:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:12:41 ubuntu sshd[2417]: Disconnected from invalid user dbseller 51.75.23.87 port 42940 [preauth]
Jul  2 17:13:29 ubuntu sshd[2419]: Invalid user centos from 51.75.23.87 port 57376
Jul  2 17:13:30 ubuntu sshd[2419]: Received disconnect from 51.75.23.87 port 57376:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:13:30 ubuntu sshd[2419]: Disconnected from invalid user centos 51.75.23.87 port 57376 [preauth]
Jul  2 17:14:27 ubuntu sshd[2421]: Invalid user steam from 51.75.23.87 port 43576
Jul  2 17:14:27 ubuntu sshd[2421]: Received disconnect from 51.75.23.87 port 43576:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:14:27 ubuntu sshd[2421]: Disconnected from invalid user steam 51.75.23.87 port 43576 [preauth]
Jul  2 17:15:19 ubuntu sshd[2425]: Invalid user matt from 51.75.23.87 port 58004
Jul  2 17:15:19 ubuntu sshd[2425]: Received disconnect from 51.75.23.87 port 58004:11: Normal Shutdown, Thank you for playing [preauth]
Jul  2 17:15:19 ubuntu sshd[2425]: Disconnected from invalid user matt 51.75.23.87 port 58004 [preauth]
